<h1>Edit product page</h1>
<br/>
<%= form_for(@product) do |f| %>
	<%= f.label :price %>
	<%= f.text_field :price %>
	<br/><br/>
	<% f.label :name %>
	<%= f.text_field :name %>
	<br/><br/>
	<%= f.submit 'Save' %>
<% end %>